body{
    direction: rtl;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*top menu */
.topmenu{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(131, 129, 130);
    font-size: 14px;
    padding: 20px;
    padding-top:55px;
    width: 100%;
    margin-left: 20px;
    box-shadow: 0px 22px 13px 8px #ccc;
    
}

/* aboutClass*/
/* first*/


.aboutClass{
    float: right;
    color: ivory;
    margin-left: 1%;
    font-weight: bold; 
    margin-top: -12px;
    list-style-type: none;
    
}
/* second*/
.aboutLinks{
    font-size: 14px;
    display: none;
    position: absolute;
    color: ivory;
    float: left; 
}
/* hover about menu*/
.aboutClass:hover .aboutLinks{
    display: block;
    background-color: rgba(117, 117, 112, 0.733);
    padding: 10px;
    
}
/* hover inside about  menu*/
.aboutLinks > li:hover{
    color: rgb(57, 19, 224);
    background-color: grey;
    width: 100%;
    text-decoration-line: underline;
     
}
/*logo*/
#menu_home_blue{
    float: right;
    padding-top: 3px;
    margin-left: 11px;
}
#paz_logo{
    float: right;
    margin-left: 0px;
    margin-right: 255px;
    margin-top: -35px;
}
/*top menu logo |*/

.b{
    color: rgb(187, 180, 180);
    margin-left: 18px;
}
.c{
    color: rgb(187, 180, 180);
    margin-right: 18px;
}


/*imges style*/

.flex-container-big-images{ 
    display: flex;
    align-items: stretch;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 20%;
    position: relative;
    color: white;
}
.read-more{ 
float: left;
color: ivory;
}
.read-more:hover{
    color: mediumblue;
}

.small-read-more{
    float: left;
    font-size: 12px;
    color: rgb(61, 59, 59);

}

.small-read-more:hover{
    color: mediumblue;
}



.flex-container-small-images{
    display: flex;
    padding: 20px;
    margin-left: 20%;
    margin-right: 18%;
    margin-bottom: 6%
}

.Gas_Station{
    border-radius: 0 0 30px 0;;
}
#Gas_Station{
    padding-left: 10px;
}
.Powerhous{
    border-radius: 0 0 30px 0;
}
#Powerhous{
    padding-right: 10px;
}
.factory_worker{
    border-radius: 0 0 30px 0;
}
#factory_worker{
    padding-right: 20px;
}

#paz_discont{
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 12px;
    background-color: rgba(207, 200, 200, 0.76);
    margin-bottom: 40px;
    
}

#banner_atar{
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 20px;
    background-color: rgba(207, 200, 200, 0.76);
    margin-right: 20px;
    margin-bottom: 40px;
}

#Untitled{
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 0px;
    background-color: rgba(207, 200, 200, 0.76);
    margin-right: 20px;
    margin-bottom: 40px;
    
    
}
.Untitled{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
     margin-right:217px;
  
}
.img-text {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    background-color: rgba(102, 96, 96, 0.808);
    width: 200px;
    padding: 5px;
    margin: 25px;
}

h5{
    color: rgb(101, 101, 104);
    font-size: 14px;
    margin-top: 5%;
}



/*bottom menu*/

.navBarbottom{
    color: white;
    background-color: rgb(134, 132, 133);
    position:fixed;
    padding: 7px;
    font-size: 14px;
    bottom:0px;
    width: 100%;
    text-align: end;
    box-shadow: 15px 3px 16px 8px #ccc;
    
}

.navBarbottom >ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    margin-block-start: unset;
    float: left;
    width: 80%;
    
        
}

.navBarbottom >ul > li{
    float: right;
    padding: 0px;
    display: block;
    
    
    
}
.navBarbottom >ul > li> a{
    color: white;
    text-decoration-line: none;
    padding: 3px;
    
}

.navBarbottom >ul > li :hover {
    text-decoration-line: underline;
    color: rgb(68, 68, 209);
}

/*next page */

.h5{
    color: rgb(20, 17, 202)
}

.label-flex-container{
    align-items: stretch;
    align-content: center;
    padding: 20px;
    margin-left: 20%;
    margin-right: 8%;
}

.pazContact{
    width:50%;
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 20px;
    background-color: rgb(207, 200, 200);
}

.ContactDetails{
    
    width:25%;
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 20px;
    background-color: rgb(207, 200, 200);
    margin-right: 10px;
}

.MoreContactDetails{
    width:25%;
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 0px;
    padding-left: 20px;
    background-color: rgb(207, 200, 200);
    margin-right: 10px;
    
}
.label-container{
    margin: 5%;
}
.small-label-container{
    display: table;
    display: flex;
    
}