body{
    direction: rtl;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*top menu */
.topmenu{
    margin-left: 50px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(131, 129, 130);
    font-size: 14px;
    padding: 20px; 
    width: 100%;
    
}

/* aboutClass*/
/* first*/
.aboutClass{
    float: right;
    color: ivory;
    margin-left: 1%;
}
/* second*/
.aboutLinks{
    font-size: 14px;
    display: none;
    position: absolute;
    color: ivory;
    float: left;
    
}
/* hover about menu*/
.aboutClass:hover .aboutLinks{
    display: block;
    background-color: rgba(117, 117, 112, 0.733);
    padding: 10px;
}
/* hover inside about  menu*/
.aboutLinks > li:hover{
    color: rgb(79, 26, 177);
    background-color: grey;
    width: 100%;
    text-decoration-line: underline;
    list-style-type: none;
}



/* first*/
.divisionsClass{
    float: right;
    color: ivory;
}
/* second*/
.divisionLinks{
    font-size: 14px;
    display: none;
    position: absolute;
    color: ivory;
    
}
/* hover about menu*/
.divisionsClass:hover .divisionLinks{
    display: block;
    background-color: rgba(117, 117, 112, 0.733);
    padding: 10px;
}
/* hover inside about  menu*/
.divisionLinks > li:hover{
    color: rgb(79, 26, 177);
    background-color: grey;
    width: 100%;
    text-decoration-line: underline;
    list-style-type: none;

}




/*imges style*/

.flex-container-big-images{ 
    display: flex;
    align-items: stretch;
    align-content: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    color: white;
}

.flex-container-small-images{
    display: flex;
    align-items: stretch;
    align-content: center;
    padding: 20px;
    margin-left: 20%;
    margin-right: 8%;
}

.Gas_Station{
    border-radius: 0 0 30px 0;;
}
#Gas_Station{
    padding-left: 10px;
}
.Powerhous{
    border-radius: 0 0 30px 0;
}
#Powerhous{
    padding-right: 10px;
}
.factory_worker{
    border-radius: 0 0 30px 0;
}
#factory_worker{
    padding-right: 20px;
}

#paz_discont{
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 20px;
    background-color: rgb(207, 200, 200);
}

#banner_atar{
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 20px;
    background-color: rgb(207, 200, 200);
}

#Untitled{
    border-style: groove;
    border-top-right-radius: 20px;
    padding: 0px;
    padding-left: 20px;
    background-color: rgb(207, 200, 200);
    
}
.Untitled{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
     margin-right:217px;
  
}
.img-text {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    background-color: rgba(102, 96, 96, 0.808);
    width: 200px;
    padding: 5px;
    margin: 25px;
}


/*bottom menu*/

.navBarbottom{
    color: white;
    background-color: rgb(134, 132, 133);
    position:fixed;
    padding: 7px;
    font-size: 14px;
    bottom:0px;
    width: 100%;
    text-align: end;
    box-shadow: 15px 3px 16px 8px #ccc
}

.navBarbottom >ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    margin-block-start: unset;
    float: left;
    width: 80%;
        
}

.navBarbottom >ul > li{
    float: right;
    padding: 0px;
    display: block;
    
    
}
.navBarbottom >ul > li> a{
    color: white;
    text-decoration-line: none;
    padding: 3px;
    
}

.navBarbottom >ul > li :hover {
    text-decoration-line: underline;
    color: rgb(68, 68, 209);
}





